#container {
    margin: 0;
    padding: 0;
    height: 550px;
    overflow: hidden;
    background-color: #21a021;
}
#moves {
    overflow: auto;
    width: 500px;
    height: 200px;
    /* Align centre */
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
#containerImportExport {
    display: flex; /* or inline-flex */
}
#txtEncoded {
    flex-grow: 1; /* default 0 */
    margin-right: 5px;
    margin-bottom: 5px;
}
#btnImport {
    margin-right: 5px;
    margin-bottom: 5px;
}
#btnExport {
    margin-bottom: 5px;
}